/* Created by Michal Bukowski (michal.bukowski@tuta.io, m.bukowski@uj.edu.pl)
   under GPL-3.0 license. Config file for tblastn-genomes Nextflow pipeline.
   
   Enable usage of conda environments.
*/
conda.enabled        = true

/* Maximum CPU cores to be used and executor type. Adjust to your own needs.
*/
executor.$local.cpus = 8
process.executor     = 'local'

/* BLAST results format 6 (TSV without comments) and columns to be returned:
   query sequence id (qseqid), alignment start and end positions in the query
   sequence (qstart and qend), query sequence length (qlen), corresponding
   columns for the subject sequence (sseqid, sstart, send),sequence identity
   and similarity in the aligment (pident, ppos), E-value (evalue) and
   translated part of the subject sequence from the alignment (sseq).
   The E-value threshold for results reporting is set to 0.01. The translation
   table (genetic code, gencode) for BLAST searches is set to 11 (bacterial).
*/
params.blastfmt  = 6
params.blastcols = 'qseqid qstart qend qlen sseqid sstart send pident ppos evalue sseq'
params.blasteval = 0.01
params.blastcode = 11

/* Paths to the directory with query and genomic sequences.
*/
params.queryDir = 'input'
params.genDir   = 'fna'

